<form id="editProfile">
    <input type="hidden" id="userId" value="<%= user._id %>">

    <input type="text" id="name" value="<%= user.name %>">

    <input type="radio" name="gender" value="male" <%= user.gender == "male" ? 'checked' : '' %>> Male
    <input type="radio" name="gender" value="female" <%= user.gender == "female" ? 'checked' : '' %>> Female

    <input type="email" id="email" value="<%= user.email %>">

    <button type="submit">Edit</button>
</form>


<script>
    const formId = document.getElementById('editProfile')
    const userId = document.getElementById('userId')

    formId.addEventListener("submit", async ()=>{

    try {
        const response = await fetch('/user/editProfile',{
            method : "get",
            headers : { "Content-Type" : "application/json" }
        })

        const data = await response.json()

        if(!response.ok){
            console.log(data.error)
        }
    } catch (error) {
        console.log(error)
    }
    })
</script>